* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

/* PORTADA */
.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .60), rgba(0, 0, 0, .60)), url("imagenes/portada.jpeg");
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo-menu {
    width: 75px;
    border-radius: 15px;
    transition: .3s;
}

.logo-menu:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
}

nav a:hover {
    color: #5ab0ff;
}

.hero-contenido {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-contenido h1 {
    font-size: 80px;
    letter-spacing: 5px;
}

.hero-contenido p {
    font-size: 28px;
    margin-top: 15px;
}

/* NOSOTROS */
.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 100px 80px;
    background: #f4f4f4;
}

.texto-nosotros {
    max-width: 600px;
}

.texto-nosotros h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.texto-nosotros p {
    font-size: 22px;
    line-height: 1.8;
}

.imagen-nosotros img {
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

/* ELEGIRNOS */
.elegirnos {
    background: #111;
    color: white;
    text-align: center;
    padding: 100px 80px;
}

.elegirnos h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.estadisticas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.dato {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 20px;
    min-width: 220px;
}

.dato h3 {
    color: #5ab0ff;
    font-size: 50px;
    margin-bottom: 10px;
}

.dato p {
    font-size: 18px;
}

.beneficios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.beneficios div {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
}

/* SERVICIOS */
.servicios {
    background: white;
    padding: 100px 80px;
    text-align: center;
}

.servicios h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 300px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    margin-bottom: 15px;
    color: #5ab0ff;
}

/* GALERIA */
.galeria {
    padding: 100px 80px;
    background: #f7f7f7;
}

.galeria h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.grid-galeria img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    transition: .4s;
}

.grid-galeria img:hover {
    transform: scale(1.04);
}

/* CATERING */
.catering {
    background: white;
    text-align: center;
    padding: 100px 80px;
}

.catering h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.foto-catering {
    width: 90%;
    max-width: 1000px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.catering p {
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
    font-size: 20px;
}

/* CONTACTO */
.contacto {
    background: #111;
    color: white;
    text-align: center;
    padding: 100px 80px;
}

.contacto h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}

.redes img {
    width: 70px;
    height: 70px;
    transition: .3s;
}

.redes img:hover {
    transform: scale(1.15);
}

/* FOOTER */
.footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 30px;
}

.footer h3 {
    margin-bottom: 10px;
}

/* WHATSAPP FLOTANTE */
.whatsapp-flotante {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
}

.whatsapp-flotante img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transition: .3s;
}

.whatsapp-flotante img:hover {
    transform: scale(1.15);
}

/* BOTON PRINCIPAL */

.boton-principal{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#5ab0ff;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
}

.boton-principal:hover{
    background:#2d8be0;
    transform:scale(1.05);
}

/* IDIOMA */

.idioma{
    color:white;
    font-weight:bold;
}

.idioma a{
    color:white;
    text-decoration:none;
}

.idioma a:hover{
    color:#5ab0ff;
}

/* UBICACION */

.ubicacion{
    background:#f5f5f5;
    text-align:center;
    padding:90px 40px;
}

.ubicacion h2{
    font-size:45px;
    margin-bottom:20px;
}

.ubicacion p{
    font-size:20px;
    margin-bottom:35px;
}

.boton-maps{
    display:inline-block;
    background:#5ab0ff;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:12px;
    transition:.3s;
}

.boton-maps:hover{
    background:#2d8be0;
    transform:scale(1.05);
}

/* FORMULARIO */

.formulario-contacto{
    padding:90px 40px;
    background:white;
    text-align:center;
}

.formulario-contacto h2{
    font-size:45px;
    margin-bottom:35px;
}

.formulario-contacto form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.formulario-contacto input,
.formulario-contacto textarea{
    padding:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

.formulario-contacto button{
    padding:15px;
    background:#5ab0ff;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.formulario-contacto button:hover{
    background:#2d8be0;
}

/* TERMINOS */

.terminos{
    background:#f7f7f7;
    padding:80px 40px;
    text-align:center;
}

.terminos h2{
    font-size:40px;
    margin-bottom:25px;
}

.terminos p{
    max-width:900px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}

/* RESPONSIVE */

@media(max-width:900px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-contenido h1{
        font-size:50px;
    }

    .hero-contenido p{
        font-size:22px;
    }

    .nosotros{
        flex-direction:column;
    }

    .imagen-nosotros img{
        width:100%;
    }

}